.user_card {
  width: 100%;
  margin: auto;
  max-width: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 11px 0px #00000045;
}

.card_index {
  text-align: center;
}

.details {
  display: flex;
  padding: 0 10px 10px;
  justify-content: space-between;
}

.admin_action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form button {
  width: 80px;
  padding: 1px;
}

.section {
  gap: 30px;
  display: flex;
  max-width: 600px;
  margin-bottom: 30px;
  flex-direction: column;
}

h2.title {
  color: #00096a;
  margin-bottom: 10px;
}

main > h2 {
  margin-top: 15px;
}

.trnx_category {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-top: 30px;
  max-width: 600px;
  justify-content: space-between;
}

a.btn_category {
  all: unset;
  flex: 1;
  color: white;
  cursor: pointer;
  font-weight: 600;
  min-height: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 8px 5px 5px;
  display: inline-block;
  font-family: sans-serif;
  background-color: #ff9800;
  box-shadow: 5px 6px 12px 0px #00000030;
}

a.btn_category:hover {
  outline: 1px solid black;
}

a.active {
  min-height: 12px !important;
  border-bottom: 3px solid #0000004f;
}

a.btn_category:last-of-type {
  background-color: #ff4500d1;
}

a.btn_category:nth-child(2) {
  background-color: #228b22bd;
}

td span.pending,
td span.approved,
td span.cancelled {
  all: unset;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px 10px 4px;
}

td span.pending {
  background-color: #ff9800;
  text-shadow: 0px 2px 4px #0000008c;
}

td span.approved {
  background-color: #228b22bd;
}

td span.cancelled {
  background-color: #ff4500d1;
}

button[data-id] {
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px 5px 2px;
  border: 1px solid #0000ff00;
  background-color: cadetblue;
  box-shadow: 3px 2px 4px #00000040;
  text-shadow: 0px 2px 4px #0000008c;
}

button[data-id]:hover {
  outline: 1px solid black;
}

button.action_approve,
button.action_cancel {
  all: unset;
  width: 71px;
  display: block;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 3px 5px 2px;
  text-shadow: 0px 2px 4px #0000008c;
  box-shadow: 3px 2px 4px #00000040;
}

button.action_approve:hover,
button.action_cancel:hover {
  outline: 1px solid black;
}

button.action_approve {
  background-color: #00a500c2;
}

button.action_cancel {
  margin-top: 5px;
  background-color: #ff4500e8;
}

.undo {
  all: unset;
  width: 80px;
  padding: 1px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid grey;
  box-shadow: 3px 2px 4px #00000040;
}

small {
  display: block;
  font-size: 15px;
  font-weight: 200;
}

button {
  text-shadow: 0px 2px 4px #0000008c;
}

.bold {
  all: unset;
  font-weight: 600;
}
