.user_card {
  width: 100%;
  margin: auto;
  max-width: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 11px 0px #00000045;
}

.card_index {
  text-align: center;
}

.details {
  display: flex;
  padding: 0 10px 10px;
  justify-content: space-between;
}

.admin_action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form button {
  width: 80px;
  padding: 1px;
}

.section {
  gap: 30px;
  display: flex;
  max-width: 600px;
  margin-bottom: 30px;
  flex-direction: column;
}

h2.title {
  color: #00096a;
  margin-bottom: 10px;
}

main > p {
  margin-bottom: 15px;
}
