* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font: 0.875rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: column;
}
