* {
  margin: 0;
  padding: 0;
  font-family: math;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #eff1f2;
  font: 0.875rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.2rem 1.25rem;
}
