* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  font: 0.875rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  flex: 1;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: column;
  background-color: #6969690f;
  background: radial-gradient(#f3c9c9db, #ebedf6, #fff);
}

.error_page {
  margin: auto;
  width: max-content;
}
