/* Header Styles */
header {
  width: 100%;
  background-color: #fff;
  padding: 1.25rem 1.25rem;
  box-shadow: 0px 2px 11px 0px #00000045;
}

header a {
  cursor: pointer;
  color: #0025cd;
  font-family: sans-serif;
}

header a:hover {
  color: red;
}

header > div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  align-items: center;
  justify-content: space-between;
}

span {
  left: -0.095rem;
  font-weight: 400;
  color: #0016ff;
  position: relative;
  font-style: oblique;
  font-family: cursive;
  text-shadow: 1px 3px 3px #00000061;
}

h1 {
  color: #ffffff;
  position: relative;
  text-shadow: 0px 2px 4px #000000;
}

nav {
  flex: 1;
  display: flex;
  max-width: 6.5rem;
  min-width: 6.5rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  header > div {
    column-gap: 1.3rem;
    justify-content: center;
  }
}
