/* Header Styles */
header {
  width: 100%;
  line-height: 1;
  font-weight: 600;
  padding: 1.25rem 3rem;
  background-color: #e2e2e2;
  box-shadow: 0px 2px 0px 0px #00000045;
}

header a {
  all: unset;
  cursor: pointer;
  color: #454759;
  font-family: sans-serif;
}

nav a,
header > div > div:last-of-type a {
  font-weight: 600;
  border: 0.1rem solid;
  display: inline-block;
  border-radius: 0.2rem;
  padding: 0.3rem 0.6rem;
}
nav a:hover,
header > div > div:last-of-type a:hover {
  color: #263d54;
  background-color: wheat;
}

header > div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  align-items: center;
  justify-content: space-between;
}

span {
  top: 4px;
  width: 18px;
  height: 25px;
  left: -0.2rem;
  color: #ffffff;
  font-size: 1.5rem;
  position: relative;
  font-family: cursive;
  display: inline-block;
  animation: rotate 2s linear infinite;
  text-shadow: 1px 3px 3px #00000061;
}

header > div {
  position: relative;
}

h1 {
  color: #000000;
  bottom: 0.1875rem;
  position: relative;
  text-decoration: underline;
  text-decoration-style: double;
  text-shadow: 8px 1px 4px #00000085;
}

nav {
  display: flex;
  max-width: 10rem;
  align-items: center;
  min-width: fit-content;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  header > div {
    column-gap: 1.3rem;
    justify-content: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
