#table_container {
  width: 100%;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  overflow-x: auto;
  font-family: sans-serif;
}

caption {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.section {
  width: 100%;
  max-width: 900px;
  margin-bottom: 2rem;
}

.title {
  margin: 0.3rem 0;
}

main table {
  width: 100%;
  border-spacing: 0;
  font-size: 0.95rem;
  border: 1px solid #ddd;
  border-collapse: collapse;
  box-shadow: 0px 2px 11px 0px #00000045;
  font-family: Arial, Helvetica, sans-serif;
}

table th,
table td {
  text-align: left;
  color: #0c0049;
  padding: 0.625rem;
  font-family: sans-serif;
  border: 1px solid #e0e0e0;
}

td a,
.buy_coin {
  font-size: 11px;
  font-weight: 600;
  border: 0.1rem solid;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  font-family: sans-serif;
}

.buy_coin {
  font-size: 1.3rem;
}

td a:hover,
.buy_coin:hover {
  color: #e4cdec;
  background-color: #551a8b;
}

table tr {
  background-color: white;
}

table th {
  color: black;
  border: 1px solid #e0e0e0;
  background-color: #596d4817;
}

table tr:nth-child(even) {
  background-color: #cfcaca3d;
}

table tr > td:last-child {
  position: relative;
}

/* table tr > td:last-child > div button {
  border: none;
  cursor: pointer;
  padding: 1px 6px;
  border-radius: 5px;
  outline: 1px solid;
  background-color: transparent;
} */

table tr > td:last-child > div > button:first-child {
  outline-color: red;
}

table tr > td:last-child > div > button:first-child:hover {
  outline: #ff000085;
  color: rgb(255, 255, 255);
  background-color: #ff000085;
}

table tr > td:last-child > div > button:last-child {
  outline-color: blue;
}

table tr > td:last-child > div > button:last-child:hover {
  outline: #6767d3;
  color: rgb(255, 255, 255);
  background-color: #6767d3;
}

table tr > td:last-child > div {
  top: 6px;
  gap: 8px;
  left: 0px;
  right: 1px;
  width: 100%;
  display: flex;
  padding-left: 10px;
  position: absolute;
}

.currency {
  width: 100%;
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 576px;
  margin: 1rem 0 1.5rem;
  justify-content: space-evenly;
}

.crypto_card {
  flex: 1px;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 2px 11px 0px #00000045;
}

.crypto_card > div:last-of-type p {
  color: #145b94;
  font-weight: 600;
  font-family: sans-serif;
}

.instruction,
.welcome {
  color: #294546;
}

.welcome {
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}

.available_coin p {
  font-size: 1rem;
  color: #65330e;
  font-weight: 600;
  margin-top: 15px;
  font-family: sans-serif;
  text-decoration: underline;
}

.available_coin {
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.buy_form_container {
  display: none;
}

.buy_button {
  all: unset;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #007eff;
  box-shadow: 2px 2px 10px #00000029;
}

.buy_button:hover {
  color: white;
  background-color: #007eff;
}

@media screen and (max-width: 600px) {
  td {
    display: grid;
    padding: 0.45rem;
    border: none !important;
    grid-template-columns: 1fr 1fr;
  }

  th {
    display: none;
  }

  td::before {
    font-weight: 700;
    text-transform: capitalize;
    content: attr(data-cell) ": ";
  }

  td:first-of-type::before {
    content: "S/N: ";
  }
}

.form_container {
  all: unset !important;
}
