extends ./layout/layout
include ./partials/mixins.pug
block content
    main
        .trnx_category 
            button Pending
            button Approved
            button Cancelled
            +transactionSection('Pending transactions', pending)
            +transactionSection('Approved transactions', approved)
            +transactionSection('Cancelled transactions', cancelled)
