extends ./layout/layout
include ./partials/mixins.pug
block content
    main
        .trnx_category 
            a(href="/admin/pending") Pending
            a(href="/admin/approved") Approved
            a(href="/admin/cancelled") Cancelled

            //- Transaction table
            if pending
                +transactionSection('Pending transactions', pending)
            if approved
                +transactionSection('Approved transactions', approved)
            if cancelled
                +transactionSection('Cancelled transactions', cancelled)
