extends layout

block content
  main
    p please log in
    p Note: For Admin access, use the details below.
    p username: admin 
    p password: admin

    form(action="/login", method="POST")
      div
        label(for="username") Username
        input(name="username", placeholder="username", type="text")

      div
        label(for="password") Password
        input(name="password", type="password")
      div 
        a(href="/sign-up") Sign Up
      button Log In