extends ./layout/layout
include ./partials/mixins.pug
block content  
    main 
        p.welcome Hello #{currentUser.first_name}, great to have you here.
        p.instruction Click the button below to buy your favourite cryptocurrency.
        br
        button(class="buy_button") Buy Coin
        .available_coin
            p Available coins
        .currency
            .crypto_card 
                div 
                    img(src="/images/btc.png" alt="Bitcoin")
                div 
                    p Pair: BTC/NGN
                    p Price: NGN 22,328,962.50
            .crypto_card 
                div 
                    img(src="/images/eth.png" alt="Ethereum")
                div 
                    p Pair: ETH/NGN
                    p Price: NGN 1,364,632.50
                    
        +transactionSection('Pending transactions', pending)
        +transactionSection('Completed transactions', completed)

        //- Modal pop up form view transaction details
        include ./partials/view_details_modal.pug

    //- Modal pop up for buy form
    include ./partials/buy_form_container.pug

    script(type="text/javascript" src="/typescript/user.js")