//- Modal pop up form view transaction details
.view_details_modal
    .section
        .user_card 
            .img_div
                img(
                    width="100%"
                    href="Payment Screenshot"
                    class="view_details_image"
                )
            .details 
                .user_details
                    p Coin: #[span(class="crypto_value")]
                    p Amount: #[span(class="amount_value")]
                    p Status: #[span(class="status_value")]
                    p Wallet: #[span(class="wallet_value")]