//- Modal pop up form view transaction details
.view_details_modal
    .section
        .user_card 
            .img_div
                img(
                    width="100%"
                    href="Payment Screenshot"
                    class="view_details_image"
                )
            .details 
                .user_details
                    p #[span(class="bold") Coin:] #[span(class="crypto_value")]
                    p #[span(class="bold") Amount:] #[span(class="amount_value")]
                    p #[span(class="bold") Status:] #[span(class="status_value")]
                    p #[span(class="bold") Wallet:] #[span(class="wallet_value")]